@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  th {
    @apply text-xs font-bold tracking-wider font-rubik text-[#B1B1B8] uppercase;
  }
  label {
    @apply text-xs text-[#1D1D1F] font-semibold font-rubik leading-4 tracking-wider;
  }
}

.login-input {
  @apply outline-0 mt-2 py-2 px-3 w-full bg-inputBack border border-[#E0E7FF] rounded-[6px] placeholder:text-sm placeholder:tracking-wide placeholder:font-medium placeholder:font-rubik;
}

.centering {
  @apply flex items-center justify-center cursor-pointer;
}
.pagination-button {
  @apply duration-200 bg-[#fff] text-[#000] rounded-md border border-[#DFE3E8] font-semibold cursor-pointer;
}

.pagination-common {
  @apply centering pagination-button h-8 w-8;
}

.router-link-active{
  @apply border-[#3366FF] text-[#fff] bg-[#3366FF];
}

.activeClass {
  @apply border-[#3366FF] text-[#3366FF];
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 10px;
  background: #000;
  color: #3366FF;
  background-clip: padding-box;
  border: 3px solid transparent;
}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
}